{{#no appointments}}
	<div class="noData" id="noData">
		没有预约哦~
	</div>				
	{{else}}
	{{#appointments}}
  <div class="lesson-link {{lessonClassName sku.categoryId}} reservation-list {{statusClassName this}}" data-shopId = "{{sku.shop.id}}" data-address= "{{sku.shop.address}}" data-status="{{status}}" data-category="{{category}}" data-id="{{id}}">
		<div class="lesson-pic">
			<span></span>
		</div>
		<div class="lesson-content">
			<span class="name">{{sku.name}}</span>
			<span class="shop-name">{{sku.shop.name}}</span>
			<span class="start-time">{{#dateChuZhi this}}{{cutDate date}} {{showWeeks date}} {{sku.from}}{{/dateChuZhi}}</span>
		</div>
		<div class="lesson-status">
			<span>{{showSecurityCode this}}</span>
			{{{showBtn this}}}
		</div>
	</div>
	{{/appointments}}
{{/no}}